.modes {
  position: relative;
  display: inline-block;
}

.modes-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.modes-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.modes-content a:hover {
    background-color: #ddd;
}

.modes:hover .modes-content {
    display: block;
}

.modes:hover .modesbutton {
    background-color: lightgray;
}